doctype html
html(lang='en', ng-app='Table')
  head
    meta(charset='utf-8')
    title My HTML File
    link(href='/node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='http://getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
  body
    .table-responsive.container(ng-controller='tableCtrl')
      p Table
      table.table.table-bordered.table-hover
        thread
          tr
            th Имя
            th Email
            th Статус
        -each user in users
         tbody
          tr(ng-click="clickTable($event,'#{user.name}','#{user.email}','#{user.isBlocked'})")
            td.first_name #{user.name}
            td.email #{user.email}
            td.status #{user.isBlocked}
      div
        button.deletebutton.btn.btn-lg.btn-primary.btn-block(ng-click='delUser()', style='width: 200px') delete
        button.blockbutton.btn.btn-lg.btn-primary.btn-block(ng-click='blockUser()', style='width: 200px') block
        p.blocked_message(style='color:red;display: none') Заблокирован
        p.unblocked_message(style='color:green; display: none') Разблокирован
    script(src='/node_modules/jquery/jquery.min.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='/node_modules/angular/angular.js')
    script(src='/node_modules/angular/angular-route.js')
    script(src='/node_modules/angular/angular-cookies.js')
    script(src='/controllers/table.js')

